[Unit]
Description=sleep_mode2_bot

[Service]
User=root
WorkingDirectory=/home/projects/sleep_mode2_bot
ExecStart=/bin/bash -c 'cd /home/projects/aloqabot && python3 main.py'
optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
